<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% block meta %}<!-- block meta -->{% endblock %}
        <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
        <link rel="stylesheet" href="/static/styles/uikit.min.css">
        <link rel="stylesheet" href="/static/styles/uikit.gradient.min.css">
        <link rel="stylesheet" href="/staticstyles/uikit/awesome.css" />
        <script src="/static/scripts/jquery.min.js"></script>
        <script src="/static/scripts/sha1.js"></script>
        <sript src="/static/scripts/uikit.min.js"></script>
        <script src="/static/scripts/awesome.js"></script>
        {% block beforehead %}<!-- before head -->{% endlock %}
    </head>
    <body>
        <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
            <div class="uk-container uk-container-center">
                <a href="/" class="uk-navbar-brand">Awesome</a>
                <ul class="uk-navbar-nav">
                    <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i>博客</a></li>
                    <li><a target="_blank" href="#"><i class="uk-icon-book"></i>读书笔记</a></li>
                    <li><a target="_blank" href="#"><i class="uk-icon-book"></i>资源</a></li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                    {% if user %}
                        <li class="uk-parent" data-uk-dropdown>
                            <a href="#0"><i class="uk-icon-user"></i> {{ user.name }}</a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-bar uk-nav-navbar">
                                    <li><a href="/signout"><i class="uk-icon-sign-out"></i>注销</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="/signin"><i class="uk-icon-sign-in"></i>登录</a></li>
                        <li><a href="/register"><i class="uk-icon-edit"></i>注册</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
            <article class="uk-article">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <p class="uk-article-meta">发表于{{ blog.created_at}}</p>
                <p>{{ blog.summary }}</p>
                <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        {% endfor %}
        </div>

        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-header">
                <h3 class="uk-panel-title">友情链接</h3>
                <ul class="uk-list uk-list-line">
                    <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
                    <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
                    <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
                    <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
                </ul>
            </div>
        </div>


        <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
            <div class="uk-container uk-container-center uk-text-center">
                <div class="uk-panel uk-margin-top uk-margin-bottem">
                    <p>
                        <a target="_blank" href="#" class="uk-icon-button uk-icon-weibo"></a>
                        <a target="_blank" href="#" class="uk-icon-button uk-icon-github"></a>
                        <a target="_blank" href="#" class="uk-icon-button uk-icon-linkedin-square"></a>
                        <a target="_blank" href="#" class="uk-icon-button uk-icon-twitter"></a>
                    </p>
                    <p>Powerd by <a href="#">Awesome Python Webapp</a>. Copyright &copy; 2017. [<a href="/manage" target="_blank">Manage</a>]</p>
                    <p><a href="http://www.python.org/" target="_blank">www.python.org</a>. All rights reserved. </p>
                    <a target="_blank" href="#"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
                </div>
            </div>
        </div>
    </body>
</html>